body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background: linear-gradient(to bottom, #fceabb, #f8b500);
  text-align: center;
}

#message {
  padding: 100px;
  font-size: 24px;
  color: #fff;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background: #ff4081;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#scene {
  width: 100vw;
  height: 100vh;
}

